.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  height: 430px;
}

.lsTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 1px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

.lsItem > input {
  height: 20px;
  border: none;
  padding: 5px;
}

.lsItem > label {
  font-size: 14px;
  margin-top: 10px;
}

.listResult {
  flex: 3;
  background-color: aquamarine;
}

.lsItem > span {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font: 12px;
}

.lsOptionInput {
  width: 50px;
}

.lsbtn{
    width: 100%;
    max-width: 1024px;
}